<header>
    <h1>Vendredi 27</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/date">Aujourd'hui</a>
        <a href="/date/7">Dans une semaine</a>
        <a href="/form">Form</a>
        <a href="/games">Jeux</a>
        <a href="/nawaq">Page non trouvée</a>
    </nav>
</header>